.movie-preview{
    border-radius: 10px;
    padding-top: 20px;
    border: 1px solid dodgerblue ;
    min-height: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    text-align: center;
    color-adjust: exact;
    background-color: azure;
    color:burlywood;
    font-family: 'Cantarell';
    font-size: large;
    font-style: oblique;
    font-weight: bold;
    box-sizing:content-box;
    box-shadow: midnightblue inset;

}
.btn{
    color: honeydew;
    font-weight: bold;
    background-color: dodgerblue;
    border: none;
    padding: 5px;
    font-size:small;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor : pointer;
}