 h3  {
background-color : whitesmoke;
}

 .background{
     background-color: rgba(28, 60, 79, 0.98);
 }
 .player-title ,.comment{
     text-align: center;
     text-transform: capitalize;
     font-family: "Segoe UI", "GeezaPro", "DejaVu Serif", sans-serif, "-apple-system", "BlinkMacSystemFont";
     font-weight: bolder;
     font-style: oblique;
 }

 .inbox{

 }

 .player-data{
     text-transform: capitalize;
     font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
     font-weight: bolder;
     font-style: oblique;
 }